.lbsRadio {
    margin-left: 20px;
    margin-right: 5px;
    
}
.basic-form {
    color: #000000;
}
/*.table th, .table td {
    padding-bottom: 12px;
    padding-right: 12px;
}*/
.chinhwidthstatus{
    width: 8px;
}

.fileinputpadding {
    flex: 0 0 16%;
    max-width: 25%;
}